@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@font-face {
    font-family: canopee;
    src: url(Canopee.ttf);
}
@font-face {
    font-family: domain;
    src: url(Domaine.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
#container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #000000;
}

#pages{
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}
#header{
    width: 100%;
    height: 400px;
    color: #c4bcb3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
#headerimg{
    position: absolute;
    width: 400px;
    top: 0;
    right: 0;
    rotate: 15deg;
    z-index: 0;
}
#header h1{
    letter-spacing: -3px;
    word-spacing: 5px;
    font-size: 4.5vw;
    font-family: "Oswald", sans-serif;
    z-index: 1;
}
#header h1 span{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ffffff;
    color: transparent;
}
#linkbtn{
    margin-top: 30px;
    z-index: 1;
}
#linbtn a{
    text-decoration: none;
}
.button{
    padding: 5px 15px;
    color: #ffffff;
    background-color: #000000;
    font-size: 20px;
    border-radius: 10px;
    border: 0.5px solid #ffffff;
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
}

.button:hover{
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #ffffff;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 10px;
    transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  font-size: 20px;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
#gopher-box{
    position: absolute;
    width: 90px;
    height: 120px;
    bottom: 0%;
    left: 5%;
    z-index: 99;
}
#gopher-box img{
    width: 100%;
    height: 100%;
    position: absolute;
}
#gopher-box .eye{
    position: absolute;
    width: 35px;
    height: 35px;
    display: block;
    background-color: transparent;
    margin: 0 20px;
    border-radius: 50%;
    z-index: 99;
}
.eye:nth-child(2){
    position: absolute;
    top: 24px;
    left: 0px;
}
.eye:nth-child(3){
    position: absolute;
    top: 25px;
    left: 38px;
}
#gopher-box .eye::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    width: 10px;
    height: 10px;
    background-color: #000000;
    transform: translate();
    border-radius: 50%;
    box-sizing: border-box;
}
#hero{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #12141d;
    padding-bottom: 50px;
    border-radius: 30px;
    column-gap: 20px;
    z-index: 1;
}
.box{
    width: 400px;
    height: 350px;
    margin-top: 50px;
    border-radius: 20px;
    border: 2px solid black;
    overflow: hidden;
    border: 1px solid rgb(82, 81, 81);
    background-color: #1e2028;
    cursor: pointer;
}
.box-top{
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.box-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s ease;
}
.box-top img:hover{
    scale: 1.1;
}
.box-down{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    color: #ffffff;
}
.box-down h1{
    font-size: 20px;
}
.box-down a{
    margin-top: 20px;
    color: #01939c;
}
.box-down a i{
    margin-left: 10px;
}
#scroll{
    width: 100%;
    padding: 30px 0;
    background-color: #C4BCB3;
    white-space: nowrap;
    overflow: hidden;
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
    cursor: pointer;
    margin-top: 0px;
}
#scroll::-webkit-scrollbar{
    display: none;
}
#scroll h1{
    font-size: 100px;
    font-weight: 100;
    font-family: domain;
    display: inline-block;
    margin-right: 20px;
    animation-name: scrolll;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll h1 span{
    font-family: canopee;
    background-color: #2f2f2f;
    color:#C4BCB3 ;
    padding: 0 2px;
}
#scroll h1 span a{
    all: unset;
}
@keyframes scrolll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 24px));
    }
}
#scroll:hover h1{
    animation-play-state: paused;
}
#footer{
    width: 100%;
    height: 60vh;
    background-color: #12141d;
    overflow: hidden;
}
#foot1{
    width: 100%;
    height: 80%;
    position: relative;
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
}
ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}
ul li {
    list-style: none;
    margin: 0 40px;
}
ul li .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: 0.5s;
}
ul li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
ul li a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}
ul li a::after {
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover .fa {
    color: #fff;
}
ul li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
ul li:hover:nth-child(1) a {
    background: #3b5999;
}

ul li:hover:nth-child(1) a:before {
    background: #2e4a86;
}
ul li:hover:nth-child(1) a:after {
    background: #4a69ad;
}
ul li:hover:nth-child(2) a {
    background: #000000;
}
ul li:hover:nth-child(2) a:before {
    background: #121224;
}
ul li:hover:nth-child(2) a:after {
    background: #232337;
}
ul li:hover:nth-child(3) a {
    background: #55acee;
}

ul li:hover:nth-child(3) a:before {
    background: #4184b7;
}
ul li:hover:nth-child(3) a:after {
    background: #4d9fde;
}
ul li:hover:nth-child(4) a {
    background: linear-gradient(#400080, transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

ul li:hover:nth-child(4) a:before {
    background: linear-gradient(#400080, transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
ul li:hover:nth-child(4) a:after {
    background: linear-gradient(#ffff00, transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ff0000);
}
#foot2{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff80;
}
@media screen and (max-width:999px){
    #headerimg{
        width: 300px;
        right: -50px;
        rotate: 20deg;
    }
    .button{
        font-size: 3vw;
    }
    
    #foot2{
        font-size: 2vw;
    }
}
@media screen and (max-width:679px){
    #headerimg{
        width: 400px;
        right: -92px;
        rotate: 10deg;
        top: -2px;
    }
    #header h1{
        letter-spacing: 0px;
        word-spacing: 5px;
        font-size: 7.5vw;
        font-family: "Oswald", sans-serif;
    }
    #header h1 span{
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #ffffff;
        color: transparent;
    }
    .button{
        font-size: 3vw;
    }
    .box{
        margin-left: 0px;
    }
    #foot2{
        font-size: 3vw;
        word-spacing: 5px;
    }
}
@media screen and (max-width:679px){
    .box{
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }
    #gopher-box{
        display: none;
    }
    .box-down{
        padding: 15px 20px;
    }
    .box-down h1{
        font-size: 20px;
    }
    .box-down a{
        margin-top: 10px;
    }
}